[submodule ".config/iterm2/dracula"]
	path = .config/iterm2/dracula
	url = https://github.com/dracula/iterm.git
[submodule ".config/zsh/themes/pure"]
	path = .config/zsh/themes/pure
	url = https://github.com/sindresorhus/pure
[submodule ".config/zsh/plugins/zsh-vim-mode"]
	path = .config/zsh/plugins/zsh-vim-mode
	url = https://github.com/softmoth/zsh-vim-mode
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".opt/zenbrowsing"]
	path = .opt/zenbrowsing
	url = https://github.com/florianperrenet/zenbrowsing.git
[submodule ".config/nvim/pack/bundle/opt/ack.vim"]
	path = .config/nvim/pack/bundle/opt/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".config/nvim/pack/bundle/opt/ctrlp.vim"]
	path = .config/nvim/pack/bundle/opt/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".config/nvim/pack/bundle/opt/comfortable-motion.vim"]
	path = .config/nvim/pack/bundle/opt/comfortable-motion.vim
	url = https://github.com/yuttie/comfortable-motion.vim.git
[submodule ".config/nvim/pack/bundle/opt/completion-nvim"]
	path = .config/nvim/pack/bundle/opt/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim.git
[submodule ".config/nvim/pack/bundle/opt/lightline.vim"]
	path = .config/nvim/pack/bundle/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".config/nvim/pack/bundle/opt/nvim-lspconfig"]
	path = .config/nvim/pack/bundle/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".config/nvim/pack/bundle/opt/rust.vim"]
	path = .config/nvim/pack/bundle/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".config/nvim/pack/bundle/opt/seoul256.vim"]
	path = .config/nvim/pack/bundle/opt/seoul256.vim
	url = https://github.com/yannickperrenet/seoul256.vim
[submodule ".config/nvim/pack/bundle/opt/tabular"]
	path = .config/nvim/pack/bundle/opt/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".config/nvim/pack/bundle/opt/vim-commentary"]
	path = .config/nvim/pack/bundle/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".config/nvim/pack/bundle/opt/vim-indent-object"]
	path = .config/nvim/pack/bundle/opt/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".opt/dunst"]
	path = .opt/dunst
	url = https://github.com/dunst-project/dunst
[submodule ".opt/alacritty"]
	path = .opt/alacritty
	url = https://github.com/alacritty/alacritty
[submodule ".config/nvim/pack/bundle/opt/telescope.nvim"]
	path = .config/nvim/pack/bundle/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule ".config/nvim/pack/bundle/opt/plenary.nvim"]
	path = .config/nvim/pack/bundle/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule ".config/nvim/pack/bundle/opt/telescope-fzf-native.nvim"]
	path = .config/nvim/pack/bundle/opt/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim
[submodule ".config/nvim/pack/bundle/opt/nvim-treesitter-textobjects"]
	path = .config/nvim/pack/bundle/opt/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule ".config/nvim/pack/bundle/opt/nvim-treesitter"]
	path = .config/nvim/pack/bundle/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule ".config/nvim/pack/bundle/opt/playground"]
	path = .config/nvim/pack/bundle/opt/playground
	url = https://github.com/nvim-treesitter/playground
[submodule ".config/nvim/pack/bundle/opt/flash.nvim"]
	path = .config/nvim/pack/bundle/opt/flash.nvim
	url = https://github.com/folke/flash.nvim.git
[submodule ".config/nvim/pack/bundle/opt/blink.cmp"]
	path = .config/nvim/pack/bundle/opt/blink.cmp
	url = https://github.com/Saghen/blink.cmp
[submodule ".config/nvim/pack/bundle/opt/nvim-dap-python"]
	path = .config/nvim/pack/bundle/opt/nvim-dap-python
	url = https://github.com/mfussenegger/nvim-dap-python
[submodule ".config/nvim/pack/bundle/opt/nvim-dap-view"]
	path = .config/nvim/pack/bundle/opt/nvim-dap-view
	url = https://github.com/igorlfs/nvim-dap-view
[submodule ".config/nvim/pack/bundle/opt/nvim-dap"]
	path = .config/nvim/pack/bundle/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
