[submodule "vim/plugins/Vundle.vim"]
	path = vim/plugins/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "iterm2/dracula"]
	path = iterm2/dracula
	url = https://github.com/dracula/iterm.git
[submodule "zsh/themes/pure"]
	path = zsh/themes/pure
	url = https://github.com/sindresorhus/pure
[submodule "zsh/plugins/zsh-vim-mode"]
	path = zsh/plugins/zsh-vim-mode
	url = https://github.com/softmoth/zsh-vim-mode
