# Blacklist files/folders in same directory as the .gitignore file
# Ignore everything
/*

# Except these files
!.gitignore
!LICENSE.MIT
!LICENSE.WTFPLv2
!README.md
!aliasrc
!bash_prompt
!iterm2/
!oh-my-zsh/
!profiles/
!tmux/
!tools/
!vim/
!i3/
!Xresources
!inputrc
