# Blacklist files/folders in same directory as the .gitignore file
# Ignore everything
/*

# Except these files
!.gitignore
!LICENSE.MIT
!README.md
!aliasrc
!inputrc
!Xresources
!bash/
!i3/
!iterm2/
!oh-my-zsh/
!profiles/
!python/
!skhd/
!tmux/
!tools/
!vim/
!zsh/

# Always ignore
.zcompdump*
viminfo
