# https://sioyek-documentation.readthedocs.io/en/latest/commands.html
next_page;goto_top_of_page              J
previous_page;goto_top_of_page          K
screen_up                               <C-u>
screen_down                             <C-d>

enter_visual_mark_mode                  v
delete_highlight                        dd
goto_mark                               '

open_selected_url                       gu
goto_page_with_page_number              gp
