# Blacklist files/folders in same directory as the .gitignore file
# Ignore everything
/*

# Except these files
!.gitignore
!README.md
!alacritty/
!compton.conf
!dunst/
!git/
!i3/
!i3status/
!iterm2/
!mimeapps.list
!newsboat/
!nvim/
!python/
!ranger/
!redshift.conf
!redshift/
!ripgrep/
!rofi/
!shell/
!tmux/
!user-dirs.dirs
!x11/
!zathura/
!zsh/

# Always ignore
.zcompdump*
nvim/cache/*
nvim/.netrwhist

# Special case, specifically not ignoring a single file in a
# subdirectory.
!pulse/
pulse/*
!pulse/default.pa
