# Blacklist files/folders in same directory as the .gitignore file
# Ignore everything
/*

# Except these files
!.gitignore
!alacritty/
!compton.conf
!README.md
!i3/
!i3status/
!iterm2/
!mimeapps.list
!nvim/
!python/
!ranger/
!redshift/
!redshift.conf
!ripgrep/
!rofi/
!shell/
!tmux/
!user-dirs.dirs
!x11/
!zathura/
!zsh/

# Always ignore
.zcompdump*
nvim/cache/*
nvim/.netrwhist
